.container {
  padding: 20px;
  background-color: white;
  min-height: 100vh;
  height: 100%;
  color: black;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 5px;
}
